/* /////////////////////////////////////////////////////////////////////////// */
/* GENERAL SET-UP */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
  box-sizing: border-box;
}


html, body {
  margin: 0px;
  padding: 0px;
  background-color: #f8f8ff;
}

#top-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  flex-shrink: 0; 
  /* align-items: center; */
}

/* /////////////////////////////////////////////////////////////////////////// */
/* CHART STYLING */
#chart {
  position: relative;
  display: block;
  flex: 50%;
  flex-shrink: 1;
  /* min-height: 30vw; */
  /* max-height: 50vw; */
  /* min-width: 50vw; */
  /* min-height: 600px; */
  /* max-width: 60vw; */
}

text {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
}

.axisLabel {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14pt;
  font-weight: bold;
}

.axis {
  font-size: 11pt;
  stroke-width: 1.2pt;
  font-weight: 500;
}

#xAxis {
  font-size: 14pt;
  font-weight: 500;
}

.tooltip {
  position: absolute;
  /* position: relative;    */
  left: 15px;           
  /* left: 2rem;            */
  top: 15px;
  /* top: 2rem; */
  visibility: hidden;
  font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 10pt;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(59, 59, 59);
  padding: 5px;
  pointer-events: none;
}
/* /////////////////////////////////////////////////////////////////////////// */
/* TEXT BOX STYLING */

.blurb, #subhead-blurb, .head-blurb, #read-preprint {
  width: 100%;
}

#text-box {
  display: block;
  flex: 25%;
  margin: 2rem;
  margin-top: 0;
  /* margin-bottom: 2rem;
  margin-right: 2rem; */
  min-height: 0;
}

#page-title {
  font-family: "Rubik";
  font-size: 35pt;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 1rem;
}

.blurb {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  font-weight: 400;
  margin-bottom: 0.05rem;
  margin-top: 0.05rem;
}

.head-blurb {
  font-family: "Rubik";
  font-size: 12pt;
  font-weight: 800;
  margin-top: 0.05rem;
  margin-bottom: 0.05rem;
}

#subhead-blurb {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  font-weight: 400;
  /* font-style: italic; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-header {
  font-family: "Rubik";
  font-size: 15pt;
  font-weight: bolder;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#section-head-1 {
  color: steelblue;
}

#section-head-2 {
  color: indianred;
}

#section-head-3 {
  color: rebeccapurple;
}

.button {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#happy_data_button {
  color: steelblue;
}

#pat_A_button {
  color: indianred;
}

#data_button {
  color: rebeccapurple;
}

p {
    line-height: 1.2rem;
}


/* #read-below {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11pt;
  font-weight: 350;
  font-style: italic;
  margin-top: 35px;
  margin-bottom: 15px;
} */


/* /////////////////////////////////////////////////////////////////////////// */
/* PATTERN OVERVIEW STYLING */

#ps-header-box {
  margin: 0.5rem;
  margin-left: 0;
  grid-column: span 2;
  grid-area: "ps-header";
}

#ps-header-text {
  font-family: "Rubik";
  font-size: 22pt;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#ps-header-subtext {
  font-family: "Rubik";
  font-size: 14pt;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.ps-pattern {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12pt;
  font-weight: 300;
  margin: 0.5rem;
  width: 75%;
}

#pat-A {
  grid-area: pat-A;
}
#pat-B {
  grid-area: pat-B;
}
#pat-C {
  grid-area: pat-C;
}
#pat-D {
  grid-area: pat-D;
}
#pat-E {
  grid-area: pat-E;
}
#pat-UC {
  grid-area: pat-UC;
}

#ps-grid {
  display: block;
  position:relative;
  grid-column: span 2;
  display: grid;
  grid-template-rows: minmax(0.25fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  margin-left: 2rem;
  margin-right: 2rem;
  grid-template-areas: 
    "ps-header ps-header ps-header"
    "pat-A pat-B pat-C"
    "pat-D pat-E pat-UC";
}


#grid-container {
  flex: 0 0 100%;
  flex-shrink: 1;

}

li {
  font-size: 10pt;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* READ PRE-PRINT STYLING */

#read-preprint {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10pt;
  font-weight: 400;
  margin: 2rem;
  margin-bottom: 4rem;
  /* color: slategray; */
}

/* unvisited link */
a:link {
  color:steelblue;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: rebeccapurple;
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: dodgerblue;
  text-decoration: underline;
}
/* selected link */
a:active {
  color:  rebeccapurple;
  text-decoration: underline;
} 



/* /////////////////////////////////////////////////////////////////////////// */
/* RESPONSIVENESS FOR PHONES & SMALL BROWSER WINDOWS */


 @media only screen and (max-width: 1200px) {
  
  #top-container {
    align-items: center;
    width: 50vw;
    margin: auto;
    margin-top: 1rem;
  }

  .blurb, #subhead-blurb, .head-blurb {
    /* width: 90%; */
  }  

  #chart {
    min-height: 50vw;
    /* width: 60%; */
    min-width: 50vw;

  }

  #text-box {
    margin-left: auto;
    margin-right: auto;
    width: 50vw
  }

  #ps-grid, #read-preprint {
    /* order: 2; */
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    width: 50vw

  }

} 

@media only screen and (max-width: 768px) {

  #top-container {
    align-items: stretch;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  #text-box{
    margin: 1rem;
  }

  .blurb, #subhead-blurb, .head-blurb {
    width: 100%;
  }  

  #chart {
    min-height: 70vw;
    min-width: 70vw;
    /* max-width: 90vw; */

  }

  #ps-grid, #read-preprint {
    /* order: 2; */
    width: 90vw;
    margin-left: auto;
    margin-right: auto;

  }
  
}
@media only screen and (max-width: 576px) {
  
  #chart {
    min-height: 40vh;
    min-width: 98vw;
    max-width: 98vw;
  }

  text{
    /* font-size: 10pt; */
  }

  .axisLabel {
    /* font-size: 10pt; */
  }


  #top-container {
    align-items: stretch;
    width: 98vw;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #grid-container {
    width: 95vw;
    margin-right: 1rem;
    margin-left: 1rem;

  }

  #ps-header-box {
    width: 95vw;
  }

  #grid-container, #read-preprint, #ps-header-box {
    /* order: 2; */
    /* width: 95vw; */
  }

}

